# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-backups
fp-info-cache
fp-lib-table
sym-lib-table

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
# *.csv

# Do not export vscode stuff
.vscode
